<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="static/css/RSFS.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Recommendation system for future skills</title>
</head>
<body>
   <nav class="navlist">
      <ul>
         <li><h4>RSFS</h4></li>
         <li><a href="">Home</a></li>
         <li><a href="#about">About</a></li>
         <li><a href="http://localhost:8501/">Courses</a></li>
         
      </ul>
   </nav>
   <div class="main-box">
      <h1>Recommendation system for future skills</h1>
      <p>It does not matter how slowly you go as long as you do not stop 
<br>
<br>
				~ Confucius </p>
     
   </div>
   <div id = "about" class="container">
      <h2> ABOUT US</h2>
      <h3>Welcome to our course recommender website! Our mission is to help individuals find the perfect courses to achieve their career goals, pursue their passions, and broaden their knowledge.
      <br>
          Our team of experts has worked tirelessly to create a comprehensive database of courses from various fields and institutions. We have implemented a sophisticated algorithm that analyzes your interests, skills, and career objectives to provide personalized course recommendations that match your unique 
          needs.
      <br>
          We understand that choosing the right course can be overwhelming and time-consuming. That's why we're committed to making the process as easy and straightforward as possible. Our user-friendly interface allows you to filter courses by category enabling you to find the courses that fit your schedule and 
          budget.
      <br>
          Thank you for choosing our course recommender website to help you achieve your educational goals. We hope to be a valuable resource for you and look forward to helping you find the perfect course to enhance your skills and knowledge.
 </h3>
      <div class="row">
         <div class="column">
         <a href=""><img src="static/images/course.jpeg" alt=""></a>
         <a href="http://localhost:8501/"> COURSES</a>
         </div>

         
         </div>

</body>
</html>